@import '../../assets/variables';

.category {
    width: 100%;
    height: 100%;

    @media (min-width: 1200px) {
      width: 80%;
    }

    &__header-title {
        font-family: 'Mont';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 140%;
        color: $white-color;
        margin-bottom: 24px;
        @media(min-width: 640px) {
          font-size: 32px;
          line-height: 41px;
        }
        @media(min-width: 1200px) {
          font-size: 40px;
          line-height: 41px;
        }
    }

    &__item {
        color: $white-color;
        height: 500px;

        @media(min-width: 640px) {
          width: 30%;
        }

        &-title {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 4px;
            @media(min-width: 1200px) {
              font-size: 26px;
              line-height: 26px;
            }
        }

        &-wrapper {

          @media(min-width: 640px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          @media(min-width: 1200px) {
            margin-bottom: 90px;
          }
        }

        &-image {
          height: 50%;
            @media(min-width:640px) {
              height: 60%;
            }
            @media(min-width:1200px) {
              height: 50%;
            }
            &-container {
                @media(min-width: 640px) {
                  height: 300px;
                  // width: ;
                }
                @media(min-width: 1200px) {
                  height: 450px;
                }
                &--phones {
                    background-color: #6D6474;
                }
                &--tablets {
                    background-color: $gray-color-1;
                }
                &--accessories {
                    background-color: $red-color;
                }

                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                margin-bottom: 15px;
            }
        }
    }

    &__model-amount {
        font-family: 'Mont';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: $gray-color-1;
        margin-bottom: 20px;
        @media(min-width: 1200px) {
          font-size: 18px;
        }
    }
}
