@import '../../assets/variables';

.basket {
  box-sizing: border-box;
  background-color: $gray-black-color-3;
  min-height: calc(100vh - $navbar-height - $footer-height-mobile);
  max-width: 1200px;
  padding: 15px 16px;
  margin: auto;

  @media (min-width: 640px) {
    min-height: calc(100vh - $navbar-height - $footer-height);
    padding: 31px 24px;
  }

  @media (min-width: 1200px) {
    min-height: calc(100vh - $navbar-height-large - $footer-height);
    padding: 31px 32px;
  }

  &__return {
    display: flex;
    padding: 10px 0;
    width: 64px;
    cursor: pointer;

    &-text{
      font-size: 12px;
      font-weight: 700;
      color: $white-color;
      line-height: 15px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $white-color;
    padding-top: 14px;

    @media (min-width: 640px) {
      padding-top: 6px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;

    gap: 32px;
    padding-top: 32px;


    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    width: 100%;
    height: 160px;
    background-color: $gray-black-color-2;

    @media (min-width: 640px) {
      height: 128px;
    }
  }

  &__checkout {
    width: 100%;
    border: 1px solid $gray-color-3;
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
    height:fit-content;

    @media (min-width: 1200px) {
      width: 50%;
    }
  }

  &__total {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $white-color;
  }

  &__total-text {
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $gray-color-1;
    justify-content: center;
    margin-bottom: 50px;

    &::before {
      content: "";
      width:100%;
      bottom: -25px;
      position: absolute;
      border-bottom: 1px solid $gray-color-3;
    }
  }

  &__button {
    width:100%;
    height: 48px;
    background-color: $purple-color;
    font-weight: 700;
    font-size: 14px;
    color: $white-color;
    cursor: pointer;
  }
}
