@import '../../assets/variables';

.favourites {
  display: flex;
  margin: 0 16px;
  max-width: 1200px;
  box-sizing: border-box;
  flex-direction: column;

  @media(min-width: 640px) {
    margin: 0 24px;
  }

  @media(min-width: 1200px) {
    margin: 0 31px;
  }

  &__return {
    display: flex;
    padding: 10px 0;
    width: 64px;
    cursor: pointer;

    &-text{
      font-family: 'Mont';
      font-size: 12px;
      font-weight: 700;
      color: $white-color;
      line-height: 15px;
    }
  }

  &__title {
    font-family: 'Mont';
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $white-color;
    padding: 14px 0;

    @media (min-width: 640px) {
      padding-top: 6px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;


    @media(min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      margin-bottom: 40px;
    }

    @media(min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 50px;

    }

    &-item {
      width: 100%;
      margin-bottom: 40px;
      @media(min-width: 640px) {
        width: 90%;

      }
      @media(min-width: 1200px) {
        width: 80%;

      }
      @media(min-width: 1600px) {
        width: 70%;
      }

    }
  }
}
