@import '../../assets/variables';

.header {
    box-sizing: border-box;
    &__title {
        font-family: 'Mont';
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -0.01em;
        color: $white-color;
        margin-bottom: 24px;
        text-align: left;
        @media(min-width: 640px) {
          font-size: 48px;
          line-height: 56px;
        }
    }
&__image {
  &-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 320px;
    margin-bottom: 18px;
  }
  &-container {
    height: 100%;
    margin-bottom: 18px;
    width: 100%;
    background-image: url("../../photos/home-page-header-image-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(min-width: 640px) {
      background-image: url("../../photos/home-page-header-image-desktop.png");
      background-size: contain;
      width: 80%;
    }
    @media (min-width: 1200px) {
      width: 60%;
    }
  }



}

&__navigation {
    margin: 0 auto;
    display: flex;
    &-bar {
        height: 4px;
        width: 14px;
        background-color: $gray-color-4;
        &--active {
            background-color: $white-color;
        }
    }

    width: calc(3*14px + 2*14px);
    justify-content: space-between;
    margin-bottom: 60px;
}

}
