@import '../../assets/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $gray-black-color-3;
  height: 48px;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-color-3;

  @media (min-width: 1200px) {
    height: 64px;
  }

  &__icons, &__links {
    display: flex;
  }

  &__link {
    color: $gray-color-1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Mont';
    line-height: 48px;
    font-size: 12px;
    font-weight: 800;
    margin: 0 16px;
    position: relative;
    display: flex;

    &.active {
      color: $white-color;
    }

    &.active:after {
      content: "";
      width:100%;
      bottom: 0;
      position: absolute;
      border-bottom: 3px solid $white-color;
    }

    @media (min-width: 1200px) {
      line-height: 64px;
      margin: 0 32px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    padding: 0 16px 0 16px;

    @media (min-width: 1200px) {
      padding: 0 16px 0 24px;
      width: 80px;
    }

    &-text {
      width: 64px;
      @media (min-width: 1200px) {
        width: 80px;
      }
    }

    &-icon {
      position: absolute;
      top: 12px;
      left: 48px;
      height: 12px;
      width: 9px;

      @media (min-width: 1200px) {
        width: 11px;
        height: 14.5px;
        top: 18px;
        left: 64px;
      }
    }
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $gray-color-3;
    height: 48px;
    width: 48px;
    cursor: pointer;

    &.active:after {
      content: "";
      width:100%;
      bottom: 0;
      position: absolute;
      border-bottom: 3px solid $white-color;
    }

    @media (min-width: 1200px) {
      height: 64px;
      width: 64px;
    }

    &-counter {
      position: absolute;
      color: $white-color;
      font-family: 'Mont';
      font-style: normal;
      width: 14px;
      height: 14px;
      font-weight: 700;
      font-size: 9px;
      line-height: 14px;
      top: 10px;
      right: 10px;
      text-align: center;

      @media (min-width: 1200px) {
        top: 18px;
        right: 18px;
      }
    }
  }
}
