@import '../../assets/variables';

.burgerMenu {
    background-color: $gray-black-color-3;
    min-height: calc(100vh - $navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1200px) {
      min-height: calc(100vh - $navbar-height-large);
    }

    &__links {
      display:inline-flex;
      flex-direction: column;
      align-items: center;
      padding-top: 16px;

    }

    &__link {
      color: $gray-color-1;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Mont';
      line-height: 11px;
      font-size: 12px;
      font-weight: 800;
      position: relative;
      display: flex;
      width: fit-content;
      padding: 16px 0;

      &.active {
        color: $white-color;
      }

      &.active:after {
        content: "";
        width:100%;
        bottom: 8px;
        position: absolute;
        border-bottom: 2px solid $white-color;
      }
    }

    &__icons {
      color: white;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
      background: $gray-black-color-3;
      box-shadow: 0px -1px 0px $gray-color-4;
    }

    &__icon {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $gray-color-3;
      height: 64px;
      width: 50%;
      cursor: pointer;

      &.active:after {
        content: "";
        width:100%;
        bottom: 0;
        position: absolute;
        border-bottom: 3px solid $white-color;
      }

      &-counter {
        position: absolute;
        color: $white-color;
        font-family: 'Mont';
        font-style: normal;
        width: 14px;
        height: 14px;
        font-weight: 700;
        font-size: 9px;
        line-height: 14px;
        bottom: 50%;
        left: 50%;
        text-align: center;

        @media (min-width: 1200px) {
          top: 18px;
          right: 18px;
        }
      }
    }
  }
