@import '../../assets/variables';

.footer {
    color: $white-color;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    padding: 24px 16px 32px;
    gap: 10px;
    background: $gray-black-color-3;
    box-shadow: 0px -1px 0px #323542;

    &__logo {
      width: auto;
      height: 30px;
      margin-bottom: 15px;
    }

    &__list {
      gap: 4px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      &-link{
        color: $white-color;
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }

      @media (min-width:640px) {
        & {
          flex-direction: row;
          justify-content: space-between;
          gap: 20px;
        }
      }

      @media (min-width:1200px) {
        & {
          gap: 100px;
        }
      }
    }

    &__back-to-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      width: 120px;
      margin: 0 auto;
      @media (min-width: 640px) {
        margin: 0;
      }

      &-link {
        width: 32px;
        height: 32px;
        border: 1px solid $gray-color-3;
        background-color: $gray-color-3;
        color: $white-color;
      }

      &-image {
        width: 16px;
        height: 16px;
        padding: 8px;
        color: white;
      }

      &-text {
        font-family: 'Mont';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
      }
    }

    @media (max-width:639px) {
      & {
        padding-top: 16px;
      }
    }

    @media (min-width:640px) {
      & {
        padding-bottom: 0px;
        flex-direction: row;
        height: 96px;
        align-items: center;
        justify-content: space-between;
      }
    }

    @media (min-width:1201px) {
      &__logo {
        margin-left: 152px;
      }

      &__back-to-top {
        margin-right: 152px;
      }
    }
}

