.footer-list {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  
  &__button {
    text-decoration: none;
    color: #F1F2F9;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
  }
}