$white-color: #F1F2F9;
$purple-color: #E8E9EE;
$green-color: #27AE60;
$red-color: #EB5757;
$gray-color-1: #75767F;
$gray-color-2: #4A4D58;
$gray-color-3: #3B3E4A;
$gray-color-4: #323542;
$gray-black-color-1: #2A2932;
$gray-black-color-2: #161827;
$gray-black-color-3: #0F1121;
$accent: #905BFF;



