@import '../../assets/variables';

.basketItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 160px;
  padding: 16px;
  background-color: $gray-black-color-2;
  box-sizing: border-box;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 128px;
    padding: 24px;
  }

  &__product {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    gap: 23px;

    @media (min-width: 640px) {
      gap: 31px;
    }

    @media (max-width: 639px) {
      min-width: fit-content;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 96px;

      &-photo {
        height: 66px;
        width: 66px;
        object-fit: contain;
        object-position: right;
      }
    }

    &-name {
      font-family: 'Mont';
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $white-color;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    @media (min-width: 640px) {
      gap: 24px;
    }

    &-total {
      display: inline-block;
      text-align: right;
      font-family: 'Mont';
      width: 80px;
      font-weight: 800;
      font-size: 22px;
      color: $white-color;
    }

    &-counter {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-number {
        display: inline-block;
        text-align: center;
        font-family: 'Mont';
        width: 32px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: $white-color;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    background-color: $gray-black-color-2;
    cursor: pointer;

    &--plus {
      background-color: $gray-color-4;
    }

    &--minus {
      border: 1px solid $gray-color-3;
      color: $gray-color-3;
    }

    &--remove {
      margin: 0 -8px;
    }
  }
}
