// reset css
h1, h2, h3, p {
  margin: 0;
}
img {
  display: block;
}
// @import '/src/assets/variables';
@import './components/Home/Home.scss';
@import './components/Card/Card.scss';
@import './components/Header/Header.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
